{{model.title}}
<br>
{{model.director}}
<br>
{{model.year}}
<br>
{{model.run_time}}
<br>
{{model.description}}
<br>
<img src={{model.image}}>

<ul>

{{#each model.comments as |comment|}}
<li>{{comment.username}}
<li>{{comment.feedback}}
</li></li>
{{/each}}

</ul>

{{comment-tile movie=model addComment="addComment"}}
